.btn{
    background-image: linear-gradient(pink, hotpink);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover{
    background-color: mediumpurple;
    transform: scale(1.20);
}